
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height:100vh;
    background-color: rgb(171, 248, 223);
    
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: aquamarine;
    font-family: 'Homemade Apple', cursive;
    position: relative;

}

.background-picture{
    background: linear-gradient(rgba(26,188,156,0.7),rgba(250, 122, 108, 0.7)),url(image/christopher-robin-ebbinghaus-pgSkeh0yl8o-unsplash.jpg);
    display: block;
    position: relative;
    width: 100%;
    height: 500px;
}
.nav-bar{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}
.nav-menu{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.nav-menu li{
    list-style: none;
}
.nav-menu a{
    text-decoration: none;
    font-weight: bold;
}

#about{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 750px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgba(0,0,0,.2);
    background-color: rgb(7, 75, 75);
}
.picture{
    width: 250px;
    height: 250px;
    background: url(image/cynthia.jpg);
    background-size: cover;
    border-radius: 50%;
    float: left;
    shape-outside: circle();
    margin: 40px 30px 10px 0;
    padding-top:20px;
}
#about h2{
    color: rgb(79, 248, 192);
    padding-bottom:20px;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
}
#about p{
    padding-top: 10px;
    font-size: 22px;
    color: azure;

}
@media screen and (max-width:1024px){  
    .nav-menu{
         width: 60%;
}
}
@media screen and (max-width:768px){
    
    
    .nav-menu{
        position: absolute;
        background-color: cyan;
        right: 0px;
        height:92vh;
        top:8vh;
        display: none;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }


   #about{
       position: relative;
       width: 40%;
    padding: 10px;
   }
   
  #about p{
    padding-top: 10px;
    font-size: 10px;
    color: azure;
}
.picture{
    width: 50px;
    height: 50px;
    background: url(image/cynthia.jpg);
    background-size: cover;
    
}

}